body{
    background-color:white;
  }
 
.legend {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:15px;;
    }
.axis {
  font: 10px sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
  fill:none;
  stroke: black;
}