header h1{
	padding: 1em;
	color:white;
	background-color: black;
	text-align: center;
}
a:hover{
	color: purple;
}
nav{
	float: left;
	max-width: 160px;
	padding: 1em;
}
nav ul{
	list-style-type: none;
	padding: 0;

}
body{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}
