 body {
  font: 15px sans-serif;
  background: white;
}
.legend {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:15px;
        }
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke-width: 3px;
}
path {
  stroke: blue;
  stroke-width: 3;
  fill: none;
}