 body {
  font: 10px sans-serif;
  background: white;
}
.x.axis path {
    display: none;
}
.line {
    fill: none;
    stroke-width: 3px;
}
path {
  stroke: blue;
  stroke-width: 3;
  fill: none;
}